.container {
  height: 100vh;
  padding: 0 60px;
}

.container p {
  width: 60%;
}
.container ul li {
  list-style-type: none;
  transition: 0.4s;
}
.container ul li a {
  text-decoration: none;
}

.container button {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  background: royalblue;
  color: white;
  cursor: pointer;
  /* border: 2px solid royalblue; */
}
